<section>
    <h2>{{menu.title}} Menu</h2>
    {{#each menu.MenuItems}}
    <article class = "clearfix item-container block">
        <h2>{{name}}</h2>
        <h2>${{price}}</h2>
    </article>
    {{/each}}
    <article class = "clearfix item-container block">
    </article>
</section>