<section>
    <h2>This is {{restaurant.name}}</h2>
    <article class = "clearfix item-container block">
        <h2>{{restaurant.name}}</h2>
        <img class="image" src="{{restaurant.image}}" />
    </article>
</section>